
body{
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav a{
        color: #d62ea4;
        text-decoration: none;
      }
nav a:hover {
  color: #d767b7;
  text-decoration: underline;